*{
  font-family: Arial, "Time New Roman", Verdana, sans-serif;
  color: #e9d400;
}

body{
  background-color: #ffb738;
}

h1{

}

h2{

}

h3{

}

.logo {
  height:100px;
  width:100px;
}

header{
  background-color: #ec8b00;
}

footer{
  background-color: #ec8b00;
}

nav{
  background-color: #e9d400;
}

@media screen and (min-width: 481px){
  .navig{
    color: #229537;

    display: inline;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .menu{
    margin: 0%;
    padding: 0%;
    overflow: auto;
  }

  nav li a {
    display: block;
    color: #229537;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .header__icon{
    visibility: hidden;
  }
 }

 @media screen and (max-width:480px)
 {

   .menu{
     position: relative;
     right: 0;
     top: 0;
     bottom: 0;
     overflow-y: auto;
     background-color: #333;
     color: #229537;
     width: 200px;
     transform: translateX(5px);
     transform: scale(0);
     transition: all 300ms ease-in-out;
   }

   .navig{

   }

   nav li a{
     color: #229537;
     display: block;
     height: 40px;
     text-align: center;
     line-height: 40px;
     border-bottom: 1px solid #303f9f;
     transform: scale(0);
     transition: all 300ms ease-in-out;
   }

   .header__icon{
     position: relative;
     display: block;
     float: left;
     width: 50px;
     height: 66px;
     cursor: pointer;
   }

     .header__icon:after{
       content: '';
       position: absolute;
       display: block;
       width: 1rem;
       height: 0;
       top: 16px;
       left: 15px;
       box-shadow: 0 10px 0 1px white,
         0 16px 0 1px white,
         0 22px 0 1px white;
     }

 }

#page2_part1{
  background-color: #ec8b00;
}

#page2_part2{
  background-color: #ec8b00;
}

#pied_page2{

}

#site_search{
  width: 160px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #229537;
  color: #cdff32;
  border: solid #cdff32;
}

#button_search{
  padding: 6px 2px;
  margin: 8px 0;
  border-radius: 50%;
  background-color: #229537;
  color: #cdff32;
  border: hidden
}
